{% load staticfiles %}
{% load my_tags %}

{% for item in basket_items %}
<div class="basket_record">
    <img src="{{ item.product.image|media_folder_products }}" alt="{{ item.product.short_desc }}">
    <span class="category_name">{{ item.product.category.name }}</span>
    <span class="product_name">{{ item.product.name }}</span>
    <span class="product_price">$&nbsp;{{ item.product.price }}</span>
    <input type="number" name="{{ item.pk }}" min="0" value="{{ item.quantity }}">
    <span class="product_cost">$&nbsp;{{ item.product_cost }}</span>
    <button class="btn btn-round">
        <a href="{% url 'basket:remove' item.pk %}" class="">
            delete
        </a>
    </button>
</div>
{% endfor %}

{% if basket_items %}
<div class="basket_summary">
    In cart {{ basket_items.0.total_quantity }} items with total cost
    $&nbsp;{{ basket_items.0.total_cost }}
</div>
{% endif %}