{% load static %}

<div class="header">
    <a href="/" class="logo"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
    <ul class="menu">
        <li><a href="{% url 'main' %}" class="menu__link menu__link_active">HOME</a></li>
        <li><a href="{% url 'product' %}" class="menu__link">PRODUCTS</a></li>
        <li><a href="#" class="menu__link">HISTORY</a></li>
        <li><a href="#" class="menu__link">SHOWROOM</a></li>
        <li><a href="{% url 'contact' %}" class="menu__link">CONTACT</a></li>
        <li><a href="#" class="menu__link"><i class="fas fa-search"></i></a></li>
    </ul>
</div>
