{% load static %}

<div class="header">
    <a href="/" class="logo"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
    <ul class="menu">
        <li>
            <a href="{% url 'main' %}" class="menu__link {% if request.resolver_match.url_name == 'main' %} menu__link_active {% endif %}">
                HOME
            </a>
        </li>
        <li>
            <a href="{% url 'product:index' %}" class="menu__link {% if request.resolver_match.url_name == 'product:index' or request.resolver_match.url_name == 'productdet' %} menu__link_active {% endif %}">
                PRODUCTS
            </a>
        </li>
        <li>
            <a href="#" class="menu__link {% if request.resolver_match.url_name == 'history' %} menu__link_active {% endif %}">
                HISTORY</a>
        </li>
        <li>
            <a href="#" class="menu__link {% if request.resolver_match.url_name == 'showrooms' %} menu__link_active {% endif %}">
                SHOWROOM</a>
        </li>
        <li>
            <a href="{% url 'contact' %}" class="menu__link {% if request.resolver_match.url_name == 'contact' %} menu__link_active {% endif %}">
                CONTACT
            </a>
        </li>
        <li>
            <a href="#" class="menu__link">
                <i class="fas fa-search"></i>
            </a>
        </li>
    </ul>
</div>
