{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="h2 text-center heaf">
        Edit account
    </div>
    <form class="form-horisontal" enctype="multipart/form-data" action="{% url 'auth:edit' %}" method="post">
        {% csrf_token %}
        {{ edit_form.as_p }}
        {{ profile_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="save">
    </form>
    <button class="btn btn-round form-control">
        <a href = "{% url 'main' %}" class = "">
            to main
        </a>
    </button>
{% endblock %}
