{% extends 'mainapp/base.html' %}
{% load static %}

{% block top %}
<div class="top">
            <div class="header_menu padding_site">
                {% include 'mainapp/includes/inc_main_menu.html' %}
                <h2 class="slider__h2 interior_header">Contact Us</h2>
            </div>
            <div class="contacts padding_site">
            {% for item in locations %}
                <div class="adress_link">
                    <a href="#" class="location_link"><i class="fas fa-map-marker-alt"></i></a>
                    <p class="state">{{ item.state }}</p>
                    <p class="contats">Phone:</p>
                    <p class="contact_details">{{ item.phone }}</p>
                    <p class="contats">Email:</p>
                    <p class="contact_details">{{ item.email }}</p>
                    <p class="contats">Address:</p>
                    <p class="adress_details">{{ item.address }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}

