{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block top %}
<div class="top">
            <div class="product_details_menu padding_site">
                {% include 'mainapp/includes/inc_main_menu.html' %}
            </div>
            <div class="product_information_menu">
                {% include 'mainapp/includes/inc_categories_menu.html' %}
            </div>
            <div class="product_information padding_site">
                <div class="product_slider">
                    <div class="product_slider_big" style="background-image: url({{ hot_product.image|media_folder_products}})"></div>
                    <div class="product_slider_elem">
                        <div class="product_slider_small" style="background-image: url({{ hot_product.image|media_folder_products}})"></div>
                        <div class="product_slider_small" style="background-image: url({{ hot_product.image|media_folder_products}})"></div>
                        <div class="product_slider_small" style="background-image: url({{ hot_product.image|media_folder_products}})"></div>
                    </div>

                </div>
                <h2 class="product_details-name float">{{ hot_product.name }}</h2>
                <div class="product_info_hot float">Hot Deal</div>
                <div class="price float">$&nbsp;<span class="price_font">{{ hot_product.price }}</span>/sq</div>
                <a href="{% url 'basket:add' hot_product.pk %}" class="button_product float">Order Us <i class="fas fa-chevron-right"></i></a>
                <p class="product_description">{{ hot_product.description }}</p>
            </div>
            <div class="trending padding_site">
                <div class="hading_trending">
                    <h2 class="trending_h2">Related Products</h2>
                    <a href="#" class="btn_ghost">explore all <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="tab_content">
                    {% for prod in same_products%}
                    <div class="trending_product" style="background-image: url({{ prod.image|media_folder_products}})">
                        <div class="product_content">
                            <a href="{% url 'product:productdet' prod.pk %}" class="button btn_circle"><i class="fas fa-chevron-right chevron-circle"></i></a>
                            <h2 class="product_name">{{ prod.name }}</h2>
                            <p class="text_reg text_product">{{ prod.short_desc }}</p>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
{% endblock %}
