{% extends 'mainapp/base.html' %}
{% block top %}
<div class="top">
            <div class="header_menu padding_site">
                <div class="header">
                    <a href="/" class="logo"><img src="/static/img/logo.svg" alt="logo"></a>
                    <ul class="menu">
                        <li><a href="/" class="menu__link">HOME</a></li>
                        <li><a href="/interior-product/" class="menu__link">PRODUCTS</a></li>
                        <li><a href="#" class="menu__link">HISTORY</a></li>
                        <li><a href="#" class="menu__link">SHOWROOM</a></li>
                        <li><a href="/interior-contact/" class="menu__link menu__link_active">CONTACT</a></li>
                        <li><a href="#" class="menu__link"><i class="fas fa-search"></i></a></li>
                    </ul>

                </div>
                <h2 class="slider__h2 interior_header">Contact Us</h2>
            </div>
            <div class="contacts padding_site">
                <div class="adress_link">
                    <a href="#" class="location_link"><i class="fas fa-map-marker-alt"></i></a>
                    <p class="state">California</p>
                    <p class="contats">Phone:</p>
                    <p class="contact_details">1900-1234-5678</p>
                    <p class="contats">Email:</p>
                    <p class="contact_details">info@interior.com</p>
                    <p class="contats">Address:</p>
                    <p class="adress_details">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
                <div class="adress_link">
                    <a href="#" class="location_link"><i class="fas fa-map-marker-alt"></i></a>
                    <p class="state">California</p>
                    <p class="contats">Phone:</p>
                    <p class="contact_details">1900-1234-5678</p>
                    <p class="contats">Email:</p>
                    <p class="contact_details">info@interior.com</p>
                    <p class="contats">Address:</p>
                    <p class="adress_details">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
                <div class="adress_link">
                    <a href="#" class="location_link"><i class="fas fa-map-marker-alt"></i></a>
                    <p class="state">California</p>
                    <p class="contats">Phone:</p>
                    <p class="contact_details">1900-1234-5678</p>
                    <p class="contats">Email:</p>
                    <p class="contact_details">info@interior.com</p>
                    <p class="contats">Address:</p>
                    <p class="adress_details">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </div>
        </div>
{% endblock %}

