{% extends 'mainapp/base.html' %}
{% load static %}

{% block top %}
<div class="top">
            <div class="header_menu padding_site">
                {% include 'mainapp/includes/inc_main_menu.html' %}
                <h2 class="slider__h2 interior_header">Contact Us</h2>
            </div>
            <div class="contacts padding_site">
                <div class="adress_link">
                    <a href="#" class="location_link"><i class="fas fa-map-marker-alt"></i></a>
                    <p class="state">California</p>
                    <p class="contats">Phone:</p>
                    <p class="contact_details">1900-1234-5678</p>
                    <p class="contats">Email:</p>
                    <p class="contact_details">info@interior.com</p>
                    <p class="contats">Address:</p>
                    <p class="adress_details">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
                <div class="adress_link">
                    <a href="#" class="location_link"><i class="fas fa-map-marker-alt"></i></a>
                    <p class="state">California</p>
                    <p class="contats">Phone:</p>
                    <p class="contact_details">1900-1234-5678</p>
                    <p class="contats">Email:</p>
                    <p class="contact_details">info@interior.com</p>
                    <p class="contats">Address:</p>
                    <p class="adress_details">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
                <div class="adress_link">
                    <a href="#" class="location_link"><i class="fas fa-map-marker-alt"></i></a>
                    <p class="state">California</p>
                    <p class="contats">Phone:</p>
                    <p class="contact_details">1900-1234-5678</p>
                    <p class="contats">Email:</p>
                    <p class="contact_details">info@interior.com</p>
                    <p class="contats">Address:</p>
                    <p class="adress_details">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </div>
        </div>
{% endblock %}

