{% extends 'mainapp/base.html' %}
{% load static %}

{% block top %}
<div class="top">
            <div class="header_menu padding_site">
                {% include 'mainapp/includes/inc_main_menu.html' %}
                <h2 class="slider__h2 interior_header">Our Products Range</h2>
            </div>
            <div class="products padding_site">
                <div class="hading_featured">
                    {% include 'mainapp/includes/inc_categories_menu.html' %}
                </div>
                <div class="tab_content">
                    {% for prod in products%}
                    <div class="trending_product" style="background-image: url(/media/{{ prod.image}})">
                        <div class="product_content">
                            <a href="{% url 'product:productdet' prod.pk %}" class="button btn_circle"><i class="fas fa-chevron-right chevron-circle"></i></a>
                            <h2 class="product_name">{{ prod.name }}</h2>
                            <p class="text_reg text_product">{{ prod.short_desc }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="refresh_circle">
                    <a href="#" class="refresh"><i class="fas fa-sync-alt"></i></a>
                </div>

            </div>
            {% include 'mainapp/includes/inc_promo.html' %}
        </div>
{% endblock %}
